body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Elms Sans", sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #FDE8EA;
    color: #252525;
}

::selection {
    background-color: #fd7688dd;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #f5546a;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 50px;
}

ul li a:hover {
    background-color: #ec3750;
    text-decoration: underline;
}

#active {
    background-color: #ec3750;
    text-decoration: underline;
}

a {
    color: #252525;
    font-size: 24px;
    text-decoration: none;
}

#contact {
    color: #f5546a;
}

#link {
    color: #f5546a;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 12px;
    margin-top: 32px;
    height: 8px;
    width: 75%;
    border-radius: 50px;
    background-color: #ec3750;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin: 12px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

span {
    background-color: #f5546a;
    padding: 4px;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 1074px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    a {
        font-size: 20px;
    }
}

@media screen and (max-width: 416px) {
    a {
        font-size: 16px;
    }
}

@media screen and (max-width: 345px) {
    a {
        font-size: 14px;
    }
}