body {
    margin-left: 5%;
    margin-right: 5%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 300px;
    display: block;
    margin: auto;
    margin: 12px;
}

@media screen and (max-width: 585px) {
    img {
        height: 190px;
    }
    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 345px) {
    img {
        height: 170px;
    }
}