body {
    margin-left: 5%;
    margin-right: 5%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 300px;
    display: block;
    margin: auto;
    margin: 12px;
}